body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(125deg, #0e2a5e, #790a8f, #1fcf7d);
    color: #5c0a82;
    box-sizing: border-box;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    z-index: 3;
}

.gameboard__cell {
    background-color: #fff;
    border: 2px solid #5c0a82;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px 2px rgba(5, 6, 8, 0.25);
}

.gameboard__cell:hover {
    transform: translate(2px, 2px);
    border: 2px solid #64e817;
    box-shadow: 1px 1px 10px 5px rgb(165, 247, 173);
}

.game-message {
    text-align: center;
    height: 20px;
    font-size: 20px;
    color: #fff;
    transition: all .4s linear;
    transform: translateY(40px);
    z-index: 2;
}
.message-appear {
    transform: translateY(-5px);
}

#resetButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #5c0a82;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 10px 3px #e2b5eb;
}

#resetButton:hover {
    background-color: #fff;
    color: #5c0a82;
    transform: scale(105%) translateY(-3px);
    box-shadow: none;
}